<footer class="new-ticket">
  <h5 class="text-muted">New Ticket</h5>
  <div class="row">
    <form {{action "createTicket" on="submit"}}>
      <div class="col-xs-3">
        {{input value=name placeholder="Your Name" class="form-control"}}
      </div>

      <div class="col-xs-7">
        {{input value=description placeholder="What's wrong?" class="form-control"}}
      </div>

      <div class="col-xs-2 text-right">
        <button type="submit" class="btn btn-success">Create Ticket</button>
      </div>
    </form>
  </div>
</footer>
